; EditorConfig is awesome: http://EditorConfig.org

root = true

; The default indent on package.json is 2 spaces, better to keep it so we can
; use `npm install --save` and other features that rewrites the package.json
; file automatically
[package.json]
indent_style = space
indent_size = 2

[*.{jade, sass, scss}]
indent_style = space
indent_size = 2

[*.{js, json}]
indent_style = tab
indent_size = 1
