.banner
  +cf

  padding: 48px 0
  margin-left: -24px

.banner__cell
  float: left
  padding-left: 24px

.banner__cell--body
  text-align: center
  width: 100%

  .btn
    display: none

  +media-query(desk)
    text-align: left
    padding-top: 48px
    width: 60%

    .btn
      display: inline-block

.banner__cell--img
  text-align: center
  width: 100%

  +media-query(desk)
    width: 40%

    .btn
      display: none

.banner__title
  font-size: 36px
  font-weight: 400
  line-height: 1.15
  margin: 0 0 24px

  +media-query(desk)
    font-size: 48px

.banner__p
  line-height: 1.5
  margin-bottom: 24px

.banner__img
  margin-bottom: 24px
  > img
    display: inline-block
    margin-bottom: -7px
  +media-query(desk)
    margin-bottom: 0
