.btn
  border-radius: 4px
  background-color: #555
  display: inline-block
  font-weight: 700
  padding: 12px 24px

.btn--large
  font-size: 24px
  padding: 24px 48px

.btn--primary
  background-color: #f39c12
  color: #fff

