.contact
  padding: 48px 0
  text-align: center

.contact__title
  font-size: 38px
  line-height: 1.15
  margin: 0 0 24px
  +media-query(desk)
    font-size: 41px
    line-height: 1.5

.contact__img
  display: inline-block
  > svg
    fill: #f39c12
    height: 120px
    width: 120px
  &:hover
    > svg
      fill: mix(#f39c12, lighten(red, 12%))
