.contact
  padding: 48px 0
  text-align: center

.contact__title
  margin-bottom: 12px

.contact__img
  display: inline-block
  > svg
    fill: #f39c12
    height: 120px
    width: 120px
  &:hover
    > svg
      fill: mix(#f39c12, lighten(red, 12%))
