.explore
  +cf
  font-size: 14px
  margin-bottom: 24px
  padding: 48px 0 96px
  +media-query(desk)
    margin-left: -48px

.explore__cell
  +media-query(desk)
    float: left
    padding-left: 48px

.explore__cell--main
  +media-query(desk)
    width: 70%

.explore__cell--aside
  +media-query(desk)
    width: 30%
