.foot
  padding: 48px 0
  text-align: center

.foot-top
  display: none
  margin-bottom: 24px

.foot-nav
  font-size: 16px
  list-style: none
  margin-bottom: 0
  margin-left: 0
  > li
    display: inline-block
    padding: 0 8px

.foot-logo
  opacity: .8
