.team
  padding: 48px 0

.team__title
  text-align: center

.team__body
  +cf

  margin-left: -48px

.team-item
  float: left
  padding-left: 48px
  text-align: center
  width: 100%

  +media-query(desk)
    width: 33.333%
