.main
  .wrapper
    .job
      .job__cell.job__cell--main
        header.job__head
          h1.job__title Web Designer Senior <span style="font-weight:400;">na Blockchain</span>
          ul.job-info
            li
              .label.label--fulltime Full Time
            li
              .job__local Anywhere
            li
              a(href='') Website
            li
              .job__date Publicado em 10 Dez

        .job__body
          h6 Descrição do trabalho:
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          h6 Habilidades:
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          p
            a.btn.btn--medium.btn--primary(href='') Candidatar-se à vaga
        footer.job-foot
      .job__cell.job__cell--aside
        .last-jobs
          h3.last-jobs-title Últimas Vagas

          ul.last-jobs-list
            li
              a.last-jobs-list-item(href='')
                h6.last-jobs-list-item__title Back-End Developer
                ul.last-jobs-list-item__breadcrumb
                  li Presidente Prudente
                  li Empresa
                  li Freelance

            li
              a.last-jobs-list-item(href='')
                h6.last-jobs-list-item__title Designer
                ul.last-jobs-list-item__breadcrumb
                  li Presidente Prudente
                  li Empresa
                  li Fixo

            li
              a.last-jobs-list-item(href='')
                h6.last-jobs-list-item__title Full Stack Developer
                ul.last-jobs-list-item__breadcrumb
                  li Presidente Prudente
                  li Empresa
                  li Estágio

