.main
  .wrapper
    .explore
      .contact__cell.contact__cell--main
        header.explore__head
          h1.explore__title Explorar
        .explore__body

      .contact__cell.contact__cell--aside
