.main
  .wrapper
    .post
      header.post__head
        h1.post__title Postar Vaga
      .post__body
        form(action='https://docs.google.com/forms/d/13lgovqONgIuFDn7S5fxLLyJ4y-_zIAhMwWv0TRiYne4/formResponse' method='POST' target='_self').post__cell.post__cell--main
          h4.post__legend About Company
          ul.post-form
            li
              label.post-form__label Language:
              input.input.input--full.post-form__input(type='text', name='entry.1840619439', value='[#{ lang.toUpperCase() }]', dir='auto', aria-label='Language: [EN], [ES] or [PT_BR] Precisa conter ', aria-required='true', required='', pattern='.*.*', title='Precisa conter ')
            li
              label.post-form__label Company Name:
              input.input.input--full.post-form__input(type='text', name='entry.1179184862', value='', dir='auto', aria-label='Company: Para qual empresa a vaga ou serviço esta sendo cadastrado? ', aria-required='true', required='', title='')
            li
              label.post-form__label Contact Email:
              input.input.input--full.post-form__input(type='email', name='entry.1577311315', value='', dir='auto', aria-label='Email:  Precisa ser um endereço de e-mail válido', aria-required='true', required='', title='Precisa ser um endereço de e-mail válido', placeholder='For internal use only, will not display anywhere on the site.')
            li
              label.post-form__label URL:
              input.input.input--full.post-form__input(type='url', name='entry.1628092907', value='', dir='auto', aria-label='Website: Website de sua empresa Precisa ser um URL válido', title='Precisa ser um URL válido')
            li
              label.post-form__label Logo:
              input.input.input--full.post-form__input(type='url', name='entry.1975530465', value='', dir='auto', aria-label='Logo: Use http://imgur.com/ 100x100 Precisa ser um URL válido', title='Precisa ser um URL válido')

          h4.post__legend About Job
          ul.post-form
            li
              label.post-form__label Job Title:
              input.input.input--full.post-form__input(type='text', name='entry.504464673', value='', dir='auto', aria-label='Title: Qual vaga ou serviço esta sendo cadastrada? ', aria-required='true', required='', title='')
            li
              label.post-form__label Location:
              input.input.input--full.post-form__input(type='text', name='entry.307620538', value='', dir='auto', aria-label='Location:  Precisa conter ', aria-required='true', required='', pattern='.*.*', title='Precisa conter', placeholder="Example: 'New York, NY', 'London', 'Anywhere'")
            li
              label.post-form__label Job Type:
              .post-form__input
                ul.post-type-job
                  li
                    input.post-type-job__input(type='radio', name='entry.288337561', id='full-time' value='Full-time', role='radio', aria-label='Full-time', required='', aria-required='true')
                    label.post-type-job__label.label.label--full-time(for='full-time') Full-time
                  li
                    input.post-type-job__input(type='radio', name='entry.288337561', id='part-time' value='Part-time', role='radio', aria-label='Part-time', required='', aria-required='true')
                    label.post-type-job__label.label.label--part-time(for='part-time') Part-time
                  li
                    input.post-type-job__input(type='radio', name='entry.288337561', id='freelance' value='Freelance', role='radio', aria-label='Freelance', required='', aria-required='true')
                    label.post-type-job__label.label.label--freelance(for='freelance') Freelance
                  li
                    input.post-type-job__input(type='radio', name='entry.288337561', id= 'temporary' value='Temporary', role='radio', aria-label='Temporary', required='', aria-required='true')
                    label.post-type-job__label.label.label--temporary(for='temporary') Temporary
            li
              label.post-form__label Description:
              textarea.textarea.textarea--full#entry_1779995784.ss-q-long(name='entry.1779995784', rows='8', cols='0', dir='auto', aria-label='Description:  ')
            li
              label.post-form__label Tags:
              input.input.input--full.post-form__input(type='text', name='entry.311484487', value='', dir='auto', aria-label='Tags:  Precisa conter ', pattern='.*.*', title='Precisa conter')
            li
              label.post-form__label &nbsp;
              .post-form__input
                input(type='checkbox')
                |  Concordo com os <a href="">Termos de uso</a>.
          .post-action
            input#ss-submit.post-action__btn.btn.btn--primary.btn--medium(type='submit', name='submit', value='Postar')

        .post__cell.post__cell--aside
